// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

//WEB
//MOBILE

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Montserrat", sans-serif;
}


$primary-color: #b3f5fd;

%button-colored {
    background-color: $primary-color;
    border-radius: 20px;
    padding: 10px;
    color: #000;
    border-style:none;
    text-decoration: none;
}
%button-black {
    @extend %button-colored;
    background-color: #000;
    color: #fff;
}

%oval-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    .notselected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        border: 1px solid #bbbbbb;
        width: 70px;
        height: 120px;
        border-radius: 60px;
        &:hover {
            background-color: #b3f5fd;
            border: 0;
        }

        .icon {
            height: 30px;
            margin: 5px 0;
            pointer-events: none;
        }
        span {
            font-size: 14px;
            font-weight: 900;
            margin: 5px 0;
        }
    }
    .selected {
        background-color: #b3f5fd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        width: 70px;
        height: 120px;
        border-radius: 60px;
        &:hover {
            background-color: #b3f5fd;
            border: 0;
        }

        .icon {
            height: 30px;
            margin: 5px 0;
            pointer-events: none;
        }
        span {
            font-size: 14px;
            font-weight: 900;
            margin: 5px 0;
        }
    }
}

%oval-white-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    .notselected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        border: 1px solid white;
        width: 35px;
        height: 50px;
        border-radius: 60px;

        span {
            color: white;
            font-size: 18px;
            font-weight: 900;
            margin: 5px 0;
        }
    }
}


ul {
    list-style: none;
}
a{
    text-decoration:none !important;
}
.oval-button {
    @extend %oval-button;
}
.oval-white-button {
    @extend %oval-white-button;
}

section#becomePartner {
    a {
        @extend %button-colored;
    }
}

.resturantImage {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.listImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.cartImage {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.custom-input {
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    border-radius: 20px;
    border: 1px solid black;
}

#bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/homepage/background_header.png");
}

nav {
    .row {
        height: 100px;
    }
    ul {
        width: 60%;
    }
}

#login {
    .login-img {
        height: 200px;
        width: 100%;
        background-image: url("img/homepage/rider.jpg");
        background-position: center;
        background-size: cover;
    }

    .black-container {
        background-color: #000;
        color: #fff;

        a {
            @extend %button-colored;
        }
    }
}

#new-dish, #edit-dish{
    button{
        @extend %button-colored;
        width: 20%;
    } 
}
#show-dish{
    #dish-show-img{
        height: 300px;
        width: auto;
        margin: 0;
        border-radius: 20px;
    }
    #icon-dish-show{
        height: 30px;
        width:auto;
        margin: 0 10px 0 0;
    }
}
#orders-dashboard{
    .container{
        border-radius: 30px;
        box-shadow: 0 0 20px 5px gray;
    }
}
